*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.container{
    display: grid;
    place-items:center ;
}
.game{
    margin-top: 100px;
    width:500px;
    height: 380px;
    border: 2px solid black;
}
#player{
    position: relative;
    width: 30px;
    height:60px;
    background-color: red;
    top: 309px;
    left: 10px;
}
.up_above{  
    animation: up  0.3s linear;
}
@keyframes up {
    0%{top:309px}
    30%{top:250px}
    70%{top: 250px}
    100%{top: 190px}
}
#obstacles{
    position: relative;
    width: 30px;
    height: 40px;
    background-color: rgb(68, 0, 255);
    top: 270px;
    left: 470px;
    animation: obstacles 1s infinite linear ;
}
@keyframes obstacles {
    0%{left:470px}
    100%{left:-10px}
}
p{
    text-align: center;
}
@media screen and (max-width:505px){
    .game{
        margin-top: 100px;
        width:400px;
        height: 400px;
        border: 2px solid black;
    }
    #obstacles{
        position: relative;
        width: 30px;
        height: 40px;
        background-color: rgb(68, 0, 255);
        top: 270px;
        left: 380px;
        animation: obstacles 1s infinite linear ;
    }
}